.menu-trigger{
  font-size: 24px;
}

.header{
  display: flex;
  align-items: center;
  height: 55px !important;
  padding: 0 3px !important;
  background-color: #fff !important;
  margin-bottom: 1px;
}
.navTop{
  background-color: #fff;
  .ant-tabs-bar{
    margin: 0 !important;
    border-bottom: none;
  }
  .ant-tabs-nav .ant-tabs-tab {
    padding: 6px 3px !important;
  }
}

.content{
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  min-height: calc(100vh - 55px - 30px - 14px - 8px) !important;
}

.ant-advanced-search-form {
  padding: 24px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}